<!doctype html>
<html ng-app="app">
  <head>
<!--     <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-animate.js"></script> -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-touch/angular-touch.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
<!--     <script src="http://ui-grid.info/release/ui-grid.js"></script> -->
    <script src="/bower_components/angular-ui-grid/ui-grid.js"></script>

    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
<!--     <link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" type="text/css"> -->
    <script src="https://npmcdn.com/ui-grid-auto-fit-columns@latest/dist/autoFitColumns.min.js"></script>

    <link rel="stylesheet" href="app.css" type="text/css">
    <link rel="stylesheet" href="bootstrap-flatly.min.css" type="text/css">
  </head>
  <body>

    <div ng-controller="MainCtrl" >
<!--           <div ng-controller="MainCtrl" > -->
      <br>
      <button type="button" class="btn btn-success" ng-click="checkAddress()">Check Address</button>
      <button type="button" class="btn btn-primary" ng-click="checkTel()")>Check Tel</button>
      <button type="button" class="btn btn-primary" ng-click="checkCons()">Check Name</button>
      <button type="button" class="btn btn-warning" ng-click="deleteSelected()">Delete Selected</button>
      <div class="btn-group pull-right" role="group" aria-label="ExportCustomisedCSV">
         <span class="badge">OUT</span>
        <button type="button" class="btn btn-success" ng-click="exportCSV()">Export CSV</button>
        <button type="button" class="btn btn-success" ng-click="exportCSVSeino()">Seino-CSV</button>
        <button type="button" class="btn btn-success" ng-click="exportCSVKangaru()">Kangaru-CSV</button>
        <button type="button" class="btn btn-success" ng-click="toDb()">toDB</button>
      </div>
      <br>
      <div ui-i18n="{{lang}}" id="grid1" ui-grid="gridOptions1"
           ui-grid-auto-fit-columns ui-grid-resize-columns ui-grid-auto-resize
           ui-grid-importer ui-grid-pagination ui-grid-edit ui-grid-cellnav
           ui-grid-selection ui-grid-grouping ui-grid-exporter class="grid"></div>
    </div>

    <div ui-i18n="{{lang}}" id="grid2" ui-grid="gridOptions2" class="grid2">
<!--grid to check invoice line item, which includes desc.of goods, pcs, unit price, and info for customes declaration like material knit, baby, kitchen        -->

    </div>

    <script src="app.js"></script>
  </body>
</html>
